<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>meme</title>
    <script type="text/javascript" src="../Game/Vector.js"></script>
    <script type="text/javascript" src="../Game/Car.js"></script>
    <script type="text/javascript" src="../Game/AICar.js"></script>
    <script type="text/javascript" src="../Game/Map.js"></script>
    <script type="text/javascript" src="../Game/PlayerCar.js"></script>
    <script type="text/javascript" src="../Game/GameState.js"></script>
    <script type="text/javascript" src="../Game/Main.js"></script>
    <style>
      canvas {
        border: 1px solid #d3d3d3;
        background-color: #f1f1f1;
      }
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <canvas></canvas>
    <script>
        window.onload=run();
    </script>
  </body>
</html>